@page "/"

<h1>File Upload with BlazorInputFile and ClamAV/nClam</h1>

<p>This sample combines <a href="https://blog.stevensanderson.com/2019/09/13/blazor-inputfile/">BlazorInputFile</a> with <a href="https://github.com/tekmaven/nClam">nClam</a> to do a file upload with virus check.</p>

<InputFile OnChange="HandleFileSelected" />

@if (file != null)
{
    <p>Name: @file.Name</p>
    <p>Size in bytes: @file.Size</p>
    <p>Last modified date: @file.LastModified.ToShortDateString()</p>
    <p>Content type (not always supplied by the browser): @file.Type</p>
}

@code {
    IFileListEntry file;
    string scanStatus;
    string server;

    private void HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
    }
}