@page "/"

<h1>File Upload with ClamAV</h1>

<p>This sample combines <a href="https://www.nuget.org/packages/BlazorInputFile">BlazorInputFile</a> with <a href="https://www.nuget.org/packages/nclam">nClam</a> to do a file upload with virus check.</p>
